* {
    box-sizing: border-box;
}

.container{
    height: 600px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container>div{
    width:30%;
    background: cyan;
    margin: 20px;
    padding: 20px;
}

h3{
    padding: 10px 0px 20px 0px;
    margin: 0px;

}

.item{
    display: flex;
}

.col2{
    margin-left : 20px;
}


